<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close tabindex="-1">
    <i class="fa fa-close" aria-hidden="true"></i>
  </button>
</mat-dialog-actions>
<div class="recordCard">
  <ng-container *ngFor="let item of record | keyvalue; index as i">
    <div>
      <span class="record-key">{{ item.key }} : </span>
      <ng-container *ngIf="item.key == 'locAddress'">
        {{
          item.value["streetNumber"] +
            ", " +
            item.value["street"] +
            ", " +
            item.value["city"] +
            ", " +
            item.value["state"] +
            ", " +
            item.value["country"] +
            ", " +
            item.value["zipCode"]
        }}
      </ng-container>
      <span *ngIf="item.key !== 'locAddress'">{{ item.value }}</span>
    </div>
  </ng-container>
</div>
